*{
	margin:0;
	padding:0;
	box-sizing:border-box; 
}
.page_wrap{
	margin:0 auto;
	width: 1032px;
	height: 616px;
/*	border: 1px solid red;*/
	padding: 15px 0 0 0;
	position: relative;	
	padding: 0 29px 60px;
}
.btn{
	text-align: center;
	background-color: #fff;
	font-size: 33px;
	color: #d3d3d3;
	border: 2px solid #d3d3d3;
	width: 40px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
}
.btn_left{
	top: 74px;
    left: -23px;
}
.btn_right{
	top: 74px;
    right: -23px;
}
.new_product{
	font-weight:bold;
	font-size: 11px;
	color: #fff;
	width: 75px;
	height:75px;
	border-radius: 50%;
	position: absolute;
	border: 5px solid #fff;
	background-color:#86b022;
	right:0 ;
    top: -38px;
    padding: 30px 0 0;
}
.hit_sales{
	font-weight:bold;
	font-size: 11px;
	color: #fff;
	width: 75px;
	height:75px;
	border-radius: 50%;
	position: absolute;
	border: 5px solid #fff;
	background-color: #009de1;
	right:0 ;
    top: -38px;
    padding: 20px 0 0;
}

.title{
/*	border: 1px solid red;*/
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase ;	
	line-height: 20px;
	padding: 10px 0px 50px;
}
.wrap_main{
	width: 972px;
	height:457px;
	border: 1px solid #d3d3d3;
	position: relative;
	padding: 0 0 0;
}
.column{
	width: 243px;
	height: 455px;
	position: absolute;
}
.border{
	border-right: 1px solid #d3d3d3;
}
.column_one{
left: 0px;
}
.column_two{
left: 243px;
}
.column_three{
right: 243px;
}
.column_four{
right: 0px;
}
.category{
	text-transform: uppercase;
	color: #72767a;
	font-size: 19px;
	text-align: center;
	padding: 35px 0 0;
	width: 211px;
	height:96px;
	border-bottom: 1px solid #d3d3d3;
	position: relative;
	left: 15px;
}
.name_product{
	width: 241px;
	height:250px;
/*	border: 1px solid red;*/
	position: relative;
	display: inline-block;
}
.add_cart{
	width:150px;
	height:50px;
/*	border: 1px solid red;*/
	position: relative;
}
.soon_sale{

}
img{
	display: block;
    width: 60%;
    height: 60%;
    position: relative;
    left: 50px;
    top: 30px;
}
p{
	display: block;
	text-align: center;
	font-size: 19px;
	text-transform: uppercase;
	color: #22a8e5;
	position: absolute;
	bottom: 30px;
	width: 100%;

}