*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.box{
  width:500px;
  height:200px;
  position: relative;
}
.img{
  width:210px;
  height:180px;
  position: absolute;
  top:4px;
  left:5px;
}
.name{
  width:180px;
  height:30px;
  position: absolute;
  top:80px;
  left:220px;
}